/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/04/2019, 2:52:33 PM
    Author     : ivycheung
*/

.jumbotron.jumbotron{
    background: url("https://ewedit.files.wordpress.com/2017/02/fp_00046r_rgb.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
        text-decoration-color: white;
}

html, body {
  padding: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
}


h1 {
    margin: 40px;
	color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: left;
    
}
.signuptitle {
        text-align: center;
        padding: 30px;
}

.signuptable{
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
}

input {
    background-color: lightgrey;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    background-color: #F2F2F2;
    
}

caption {
    caption-side: bottom;
}

.nav-link {
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing:0.1em;
    color: white!important;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
 }
 
.card {
        justify-content: space-between;
    background-color: whitesmoke!important;
    border: none!important;
}

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: black;
      position: fixed;

}

.bg-light {
    background-color: black!important;

}

.nav-link:hover {
    color: #e1ad01!important;
}

.btn-primary {
    color: white;
    background-color: #e1ad01;
    border-color: #cba117;
}

p {
    color: white;
    margin: 40px;
}

.nav {
    background-color: black;
    width: 100%;
}

.lead {
    color: white;
}


h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin:40px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing:0.1em;
}

.right {
    align-content: right;
    text-align: right;
}
span {
background-color: black;
    opacity: 0.6;
}


th {
    text-align: left;
    font-size: 15px;
}

button {
    align-content: center;
}

.movieTable {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*General Header Customisation*/

.navigation 	{
    width: 98%;
    margin: 0px auto;
}

header {
    background: #000000;
    font-family: 'Open Sans', sans-serif;
    outline: solid;
    outline-color: #D3D3D3;
    margin-bottom: 20px;
}

/*Clearfix for header*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*Webpage Icon Customisation*/

.title {
    float: left;
    padding: 5px;
    color: #3c3c3c;
    width: auto;
    max-height: 50px;
    display: block;
}

@media screen and (max-width:1020px) {
    .title {
        padding: 2.5px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Navigation Link Customisation*/

nav ul {
    margin: 0 auto;
    padding: 0;
    float: right;
    list-style-type: none;
    display: table;
}

nav li {
    display: inline-block;
    margin: 0 50px 0 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    vertical-align: middle;
}

@media screen and (max-width:1020px) {
    nav ul {
        float: none;
        text-align: center;

    }
}

@media screen and (max-width:1020px) {
    nav li {
        margin: 0px 10px;
        padding-bottom: 7px;
        text-align: center;
    }
}


nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}


@media screen and (max-width:405px) {
        nav li {
        margin: 0px 5px;
        }
    }


/*Link Hover Animation*/

nav a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #FFFFFF;
    position: absolute;
    transition: all ease-in-out 150ms;
}

nav a:hover::after {
    width: 100%;
}

a#active::after {
    width: 100%;
}

/*Header Image Customisation*/

.headimg {
    max-width: 100%;
    height: auto;
    width: 100%;

}

.addMovTable {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.movieListIcon {
    width: 2%;
    margin: 2px;
}

.movieListEdit {
    text-align: center;
}

.search-container {
    display: block;
    width:50%;
    text-align: center;
}

.search-container input[type=text] {
    width: 90%;
}

.search-container input[type=submit] {
    width: 10%;
}

.fas fa-shopping-cart {
    font-size: x10;
}